.slide-nav__social-medias {
  display: flex;
  margin-top: var(--gutter-component);
  gap: var(--gutter-component-sm);
}
.slide-nav__social-media {
  transition: color 0.5s;
  & svg {
    font-size: var(--lg-font-size);
    color: var(--text-black);
  }
  &:hover svg {
    color: var(--color-primary);
  }
}
