@import "@variables/variables";
.sticky {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 25%;
    right: -2px;
    padding: 20px 12px;
    border: 1px solid #ccc;
    align-items: center;
    background-color: #fff;
    border-radius: var(--border-radius);
    z-index: 9999;
    @media screen and (max-width: $large-screen) {
      display: none;
    }
  }
  &__item {
    position: relative;
    & svg {
      color: var(--text-black);
      font-size: var(--base-font-size);
    }
    &:hover &--title {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &--title {
      content: attr(data-title);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      border: 1px solid #000;
      background-color: rgba(0, 0, 0, 0.4);
      top: -10%;
      font-size: var(--sm-font-size);
      width: auto;
      right: 300%;
      border-radius: var(--border-radius);
      white-space: nowrap;
      padding: 10px;
      display: block;
      background-color: #000;
      color: var(--text-white);
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background-color: #000;
        left: 100%;
        top: 50%;
        transform: translateX(-50%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        rotate: 90deg;
      }
    }
  }
}
